body {
    background-color: #EEE
}

.daterangepicker{
    background-color: #ddf;
}

.daterangepicker::after {
    border-bottom-color: #ddf;
}

.help-block{
    color: #dd4b39;
}

.require-block{
    color: #dd4b39;
}

.table-bordered {
    border: 1px solid #DDD;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th{
    background-color: #EEE;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #DDD;
}

.daterangepicker.single .ranges, .daterangepicker.single .calendar{
    float: none;
    text-align: center;
}

label input[type=radio] {
    margin :0 3px;
}

.hasmenu_title {
    float:left;
}

.body_div{
    padding: 0 20px;
}

.page_counter{
    text-align: center;
}

.view_flag_off td {
    background-color: #fcedb5;
}

.closed td {
    background-color: #a09f9f;
}

.non_cd_data td {
    background-color: #ff6666;
}

form > .form-group{
    padding:3px;
    border-bottom: 1px dotted #888;
}

.form-group.radio .radio {
    display: inline;
    position: static;
}

.form-group.radio .radio input[type="radio"]{
    position: static;
}

.form-group.radio .radio label{
    margin: 0 3px;
}

.pankuzu-section{
    padding: 15px 15px 0;
}

.pankuzu-section div{
    padding: 5px;
    background-color: #FFF;
    border: 2px solid #DDD;
}

.pankuzu-section ul {
    padding-left: 0;
    margin-bottom: 0;
}

.pankuzu-section li {
    display: inline-block;
}

.pankuzu-section li a{
    padding: 0 10px;
}

.pankuzu-section li:after{
    content: ">";
}

.pankuzu-section li:last-child:after{
    content: "";
}

#osx-modal-tabs-container .checkbox input[type="checkbox"],
#osx-modal-tabs-container .checkbox-inline input[type="checkbox"],
#osx-modal-tabs-container .radio input[type="radio"],
#osx-modal-tabs-container .radio-inline input[type="radio"] {
    margin-left: 0;
    position: static;
}

/* ポップアップ内のinputにdivが入ってしまうのでデザインの調整 */
#osx-container div.input {
    display: inline;
}
